<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tongji.programming.mapper.CourseMapper">
    <resultMap id="CourseWithGroupIds" type="org.tongji.programming.dto.CourseService.CourseWithGroup">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="groups" ofType="string">
            <id column="gc.groupId"/>
        </collection>
    </resultMap>

    <insert id="insertOrUpdate">
        insert into Course (id, name)
        values (#{course.id}, #{course.name})
        on duplicate key update name = #{course.name}
    </insert>

    <select id="selectAll" resultType="org.tongji.programming.pojo.Course">
        SELECT *
        FROM `Course`
    </select>

    <select id="selectById" resultType="org.tongji.programming.pojo.Course">
        SELECT *
        FROM `Course`
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <select id="selectAllWithGroupId" resultType="org.tongji.programming.pojo.Course" resultMap="CourseWithGroupIds">
        SELECT Course.*,
               QG.id
        FROM Course
                 LEFT JOIN bot.QQGroup QG on Course.id = QG.courseId
    </select>

    <delete id="deleteById">
        DELETE
        FROM `Course`
        WHERE `id` = #{id}
    </delete>
</mapper>
